body {
	background-color: lightgray;
}

.container-fluid {
	background-color: slategray;
	color: gold;
	padding: 1em;
	text-align: center;
	margin-bottom: 1em;
	border: solid 2px gold;
}

.btn-primary {
	background-color: slategray;
	border-color: gold;
	color: gold
}